.actionBtn {
  display: flex;
  align-items: center;
}

.container {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 3px;

  .title {
    display: flex;
    gap: 10px;

    .info {
      font-size: 30px;
      font-weight: 500;

      .price {
        font-size: 20px;
        font-weight: normal;
      }
    }
  }

  .tab {
    font-weight: 600;
  }

  .importContainer {
    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
